@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$Soft-red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 65%);
$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Cream: hsl(26, 66%, 93%);
$Very-pale-orange: hsl(33, 100%, 98%);

$font-body: "DM Sans", sans-serif;